# Python statements

***

## 1. If, elif and else statements

In [1]:
if True:
    print('It is true')

It is true

In [2]:
if 3 > 2:
    print('It is ture')

It is ture

In [3]:
hungry = True

if hungry:
    print('Feed me!')

Feed me!

In [4]:
hungry = False

if hungry:
    print('Feed me!')
else:
    print('I am alright, thanks!')

I am alright, thanks!

In [5]:
loc = 'bank'

if loc == 'auto shop':
    print('cars are cool!')
elif loc == 'bank':
    print('Money is cool!')
else:
    print('I do not know much :(')

Money is cool!

***

## 2. For loops

Many objects in Python are iterables. Those include strings, lists, tuples and keys in a dictionary.

### 2.1 Strings

In [6]:
a_string = 'a string'
for character in a_string:
    print(character)

a

s
t
r
i
n
g

In [7]:
mystring = 'Hello world'
for letter in mystring:
    print(letter)

H
e
l
l
o

w
o
r
l
d

### 2.2 Lists

In [8]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in my_list:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [9]:
# CHeck if the number is even
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in my_list:
    if num % 2 == 0:
        print('The number {} is even'.format(num))
    else:
        print('The number {} is odd'.format(num))

The number 1 is odd
The number 2 is even
The number 3 is odd
The number 4 is even
The number 5 is odd
The number 6 is even
The number 7 is odd
The number 8 is even
The number 9 is odd
The number 10 is even

In [10]:
list_sum = 0
for num in my_list:
    list_sum += num
print(list_sum)

55

If we do not need the iterable because it is not used we can use the underscore character as follows:

In [11]:
for _ in [1, 2, 3]:
    print('Cool')

Cool
Cool
Cool

### 2.3 Tuples and tuples unpacking

In [12]:
tup = (1, 2, 3)

for item in tup:
    print(item)

1
2
3

Tuple have a special characteristics when combined with for loops that is called 'unpacking':

In [13]:
# Tuple unpacking
mylist = [(1, 2), (3, 4), (5, 6), (7, 8)]
for (a, b) in mylist:          # also a, b without parenthesis
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [14]:
mylist = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a,b,c in mylist:
    print(b)

2
5
8

### 2.4 Dictionaries

In [15]:
d = {'k1':1, 'k2':2, 'k3':3}
for key in d:
    print(key)

k1
k2
k3

In [16]:
d = {'k1':1, 'k2':2, 'k3':3}
for key in d:
    print(d[key])

1
2
3

In [17]:
d = {'k1':1, 'k2':2, 'k3':3}
for key in d.items():
    print(key)

('k1', 1)
('k2', 2)
('k3', 3)

In [18]:
# Use unpacking
d = {'k1':1, 'k2':2, 'k3':3}
for key, value in d.items():
    print(value)

1
2
3

In [19]:
d = {'k1':1, 'k2':2, 'k3':3}
for value in d.values():
    print(value)

1
2
3

In [20]:
# Use unpacking
d = {'k1':1, 'k2':2, 'k3':3}
for key in d.keys():
    print(key)

k1
k2
k3

***

## 3. While

In [21]:
x = 0

while x <= 5:
    print('The current value of x is {}'.format(x))
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
The current value of x is 5

In [22]:
x = 0

while x <= 5:
    print('The current value of x is {}'.format(x))
    x += 1
else:
    print('x is greater than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
The current value of x is 5
x is greater than 5

***

## 4. Break, continue and pass

- break : breaks out of the closest enclosing loop
- continue : goes to the top of the closest enclosing loop
- pass : does nothing at all

In [23]:
# Pass
x = [1, 2, 3]

for item in x:
    pass

In [24]:
# Continue
mystring = "Sammy"

for letter in mystring:
    if letter == 'a':
        continue
    else:
        print(letter)

S
m
m
y

In [25]:
# Break
mystring = "Sammy"

for letter in mystring:
    if letter == 'm':
        break
    else:
        print(letter)

S
a

## 5. Useful operators

- range(start, stop, step)

- enumerate

- zip

- in

- min

- max

- random library : shuffle, randint

- input

### 5.1 Range

In [26]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [27]:
for i in range(3, 10):
    print(i)

3
4
5
6
7
8
9

In [28]:
for i in range(0, 11, 2):
    print(i)

0
2
4
6
8
10

In [29]:
# Generator : generate information without sving it into memory (see later course)
range(0, 11, 2)

range(0, 11, 2)

In [30]:
# If I want to print the actual list of number I need to enclose it in a list
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

### 5.2 Enumerate

In [31]:
index_count = 0

for letter in 'abcd':
    print('Letter {} is at the index {}'.format(letter, index_count))
    
    index_count += 1

Letter a is at the index 0
Letter b is at the index 1
Letter c is at the index 2
Letter d is at the index 3

In [32]:
word = 'Biagio'

for item in enumerate(word):
    print(item)

(0, 'B')
(1, 'i')
(2, 'a')
(3, 'g')
(4, 'i')
(5, 'o')

In [33]:
word = 'Biagio'

for index, let in enumerate(word):
    print(index)
    print(let)
    print('\n')

0
B


1
i


2
a


3
g


4
i


5
o

### 5.3 zip

In [34]:
# Pairing items from multiple lists; this return tuples as long as the shortest of the list zipped together
mylist1 = [1, 2, 3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [35]:
list(zip(mylist1, mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

### 5.4 in

In [36]:
'x' in [1, 2, 3]

False

In [37]:
'x' in ['y', 'x', 'z']

True

In [38]:
'a' in 'a world'

True

In [39]:
'mykey' in {'mykey': 345}

True

In [40]:
d = {'mykey': 345}

345 in d.values()

True

In [41]:
345 in d.keys()

False

### 5.5 Min, Max, random

In [42]:
mylist = [10, 20, 100]
min(mylist)

10

In [43]:
max(mylist)

100

In [44]:
from random import shuffle

In [62]:
# In place function
mylist = [1, 2, 3]
shuffle(mylist)

In [63]:
mylist

[2, 3, 1]

In [64]:
shuffle(mylist)

In [65]:
mylist

[1, 3, 2]

In [66]:
from random import randint

randint(0, 100)

21

In [67]:
randint(0, 100)

97

In [69]:
mynum = randint(0, 10)
mynum

1

### 5.6 input

Accept everything as a string ! Convert the numbers if you need them later for calculations

In [72]:
name = input('What is your name : ')

What is your name :Biagio

In [73]:
age = input('How old are you : ')

How old are you : 35

In [74]:
print('So you are {} years old and your name is {}'.format(age, name))

So you are 35 years old and your name is Biagio

***

## 6. List comprehension

In [75]:
mylist = []

for letter in 'word':
    mylist.append(letter)
    
print(mylist)

['w', 'o', 'r', 'd']

In [78]:
mylist = [letter for letter in 'word']
mylist

['w', 'o', 'r', 'd']

In [79]:
mylist = [num for num in range(0, 11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
mylist = [num**2 for num in range(0, 11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [82]:
mylist = [num**2 for num in range(0, 11) if num % 2 == 0]
mylist

[0, 4, 16, 36, 64, 100]

For if else statements the list comprehension ahve a different structure (maybe not the best usage for clarity)

In [83]:
results = [x if x%2 == 0 else 'ODD' for x in range(0, 11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [84]:
# Nested loops with list comprehension

mylist = []

for x in [1, 2, 3]:
    for y in [100, 200, 300]:
        mylist.append(x * y)

mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]

In [85]:
mylist = [x * y for x in [1, 2, 3] for y in [100, 200, 300]]
mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]